/* Eds Market Narrow Slant Regular */
@font-face {
  font-family: 'eds-market-narrow-slant';
  src: url('./Eds Market Narrow Slant/Eds Market Narrow Slant Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
